<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    <link rel="shortcut icon" href="./images/cs2.ico" >
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/ma.css">
        <script src="assets/js/jquery-1.10.2.min"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <style>
    .back{
        background-image: url('images/cs2.jpg');

    }
    
    </style>
</head>
<script>
    $().load('header.html');


</script>

<body class="back" >
   <div id="header">

   </div>

</body>

</html>
