<!-- Header -->

<html>
<head>
           <link rel="shortcut icon" href="./images/cs2.ico" >
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/ma.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        
</head>

<body>
    <header id="header">
        <div class="inner col-sm-12 col-md-8 col-lg-9" id="inner2">
            <p href="#"class="logo">WCE  &nbsp;&nbsp;Intern's  &nbsp;&nbsp;		<span id="portal">Portal</span></p>
            <nav id="nav">
                 <a href="/home">Home</a>
                <a href="/branch">BRANCH</a>
                <a href="elements.html">ABOUT</a>

                <a href="elements.html">CONTACT</a>
              <a href="/logIn"><b style="font-size: 20px; ">LOG IN</b></a>  
            <!-- <button onclick="window.location.href='/logIn'">LOGIN</button> -->
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    
    </body>
    </html>