<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="./images/cs2.ico" >
	<title>PLACEMENT</title>
	<script></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/ma.css">
		<!-- <script src="assets/js/jquery.min.js"></script> -->
		<!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
		 <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
		 <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/ma.css"> -->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	
</head>
<body style="background-color: #3399ff;#CDF7F6;">
<div class="head">
<header id="header">
				<div class="inner" id="inner2">
					<p href="#"class="logo">WCE  &nbsp;&nbsp;Intern's  &nbsp;&nbsp;		<span id="portal">Portal</span></p>
					<nav id="nav">
						<a href="/home">Home</a>
						<a href="/branch">BRANCH</a>
						<a href="/about">ABOUT</a>

						<a href="http://www.walchandsangli.ac.in/">CONTACT</a>
						<a href="/signIn"><b style="font-size: 20px; ">LOG IN</b></a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>

	<div class="container" style="height:90px; color:black;"> 
			<span style="margin-top:20px;position: absolute;margin-left: 395px; font-size: 34px;">
		Placement Statastics
			</span>
			</div>
<div>
	
		<section id="corousel">

			<div id="demo" class="carousel slide" data-ride="carousel">
			 		 <ul class="carousel-indicators">
						    <li data-target="#demo" data-slide-to="0" class="active"></li>
						  	<li data-target="#demo" data-slide-to="1"></li>
						    <li data-target="#demo" data-slide-to="2"></li>
					</ul>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			    		<a href="/rules.html"> <img src="images/clg7.jpg"  class="cour" alt="Los Angeles" width="1920" height="500"></a>
			      <div class="carousel-caption" >
			      	
			        	  <h2>About InternShip</h2>
			        		<p>Rules  and Regulations</p>
			        
			      </div>   
			    </div>
			    <div class="carousel-item">
			      		<a href="/interns.html"><img src="images/clg5.jpg"  class="cour" alt="Chicago" width="1920"  height="500"></a>
			      <div class="carousel-caption ">
			        	<h2>Interns of College</h2>
			        	<p>Prouds of Our College</p>
			      </div>   
			    </div>
			    <div class="carousel-item">
			      		<a href="/placement.html"><img src="images/cl6.jpg"  class="cour" alt="New York" width="1920" height="500"></a>
			      <div class="carousel-caption" position="relative">
			        	<h2>Placement Statistics</h2>
			        	<p></p>
			      </div>   
			    </div>
			  </div>
			  			<a class="carousel-control-prev" href="#demo" data-slide="prev">
			   		   <span class="carousel-control-prev-icon"></span>
			 		 	</a>
			  			<a class="carousel-control-next" href="#demo" data-slide="next">
			    		<span class="carousel-control-next-icon"></span>
			  </a>
			</div>
			</section>
		  
</div>

	<div class="container">
		<br>
		
		<div class="jumbotron">
			<header>  <h2 class="text-primary"><center>Developer</center></h2></header>
			<br>
		<div class="row">
			<div  class="col-4 d-flex">
			<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./images/switi.jpg" alt="ravi">
					<div class="card-body">
							<h2 class="card-text"> Switi Mhaiske</h2>
							<br>
						<center>
						<h5 class="card-title">Developer</h5></center>
						<p class="card-text"><span class="text-info"> <b>Front End Develper</b></span><br><br> <b>Skills :</b> HTML, Javascript,<br>&nbsp; 
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Bootstrap</p>
					
					</div>
			</div>
			</div>
			<div  class="col-4 d-flex">
					<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="./images/e.jpg" alt="ravi">
							<div class="card-body">
									<h2 class="card-text"> Ravi Navale</h2>
									<br>
								<center>
								<h5 class="card-title">Developer</h5></center>
								<p class="card-text"><span class="text-info"> <b>Back End Develper</b></span><br><br> <b>Skills :</b> HTML, Javascript,<br>&nbsp; 
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Bootstrap,NodeJS , Angular</p>
							
							</div>
					</div>
			</div>
			<div  class="col-4 d-flex">
					<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="./images/akki.jpg" alt="ravi">
							<div class="card-body">
									<h2 class="card-text"> Akshay Patil</h2>
									<br>
								<center>
								<h5 class="card-title">Developer</h5></center>
								<p class="card-text"><span class="text-info"> <b>Back End Develper</b><br></span><br> <b>Skills :</b> HTML, Javascript,<br>&nbsp; 
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Bootstrap,NodeJS , Angular</p>
							
							</div>
					</div>
			</div>
			
	</div>
		</div>


	</div>



<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li ><a href="https://www.facebook.com" class="icon fa-facebook fk" style="margin-left: 370px;">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="https://twitter.com" class="icon fa-twitter fk" style="margin-left: 50px;">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="https://www.instagram.com" class="icon fa-instagram fk" style="margin-left: 50px;">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="https://www.linkedin.com" class="icon fa-linkedin fk" style="margin-left: 50px;">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul>
						<li>
						<p align="center"><b> &copy;wceinternship.com</b></p>
					</li>
					</ul>
				</div>
					
					<!-- <ul class="copyright"> 
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					 </ul> -->
				
		</footer>



</div>
	<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>
<script type="text/javascript">
	
</script>
</html>